In [3]:
print(1)
print(2)

1
2

In [5]:
print(3)
print(4)

3
4

In [8]:
import pandas
location = "C:/Users/willi/Desktop/Programming/Python/Python Course/Getting started/processing files/"

In [9]:
df = pandas.read_csv(location + 'files/temps_today.csv')
df

    st1   st2
0  23.3  22.1
1  24.0  23.1
2  22.1  20.2
3  19.1  16.8